<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/faq.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/home" style="font-size:25px; color: #4361ee; font-family: Verdana, Geneva, Tahoma, sans-serif;">VolunTier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16" style="size: 30px;">
            <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
          </svg></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse "  id="navbarNav">
            <ul class="navbar-nav justify-content-center " style="padding-left: 260px;">
                <li class="nav-item" >
                  <a class="nav-link" href="/positions" style="color:black; font-size: 18px; margin-right: 50px;">Organizations</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" style="color:black; font-size: 18px; margin-right: 50px;" href="/faq">FAQ</a>
                </li>
                <li class="nav-item" >
                    <a href="/about" class="nav-link" style="color:black; font-size: 18px; margin-right: 50px;">About Us</a>
                </li>
                <li class="nav-item dropdown" >
                  <a style="color:black; font-size: 18px; margin-right: 50px;"class="nav-link dropdown-toggle" href="/register" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Register
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/orgregister">Organization Register</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/register">Student Register</a></li>
                  </ul>
                  </li>
                  </ul>
                  
                  </div>
 
      
        

    
        <div class="d-flex">    
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle"type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" >
                Login
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton" style="margin-right: 50px ;">
                <li><a class="dropdown-item" href="/login">Student Login</a></li>
                <li><a class="dropdown-item" href="/orgLogin">Organizations Login</a></li>
            </ul>
        </div> 
    </div>
</div>
</nav>
    <h1 class="text-center">FAQ</h1>
  <div class="container">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            How does VolunTier work?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">We take your personal interests and we match them with an organization's interest. You will be matched with them and you will get a match percentage. If you like that organization, you can use phone number and contact them.   </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Will our information be safe with VolunTier?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"> <strong>Yes it will be. </strong>Your informating is hidden by default, until our servers take your information and create a profile page for you. We also keep any suspiscious malware off of our website and to create a safer enviornment for our users.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            How many people have used VolunTier?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Since we are a newly released website we don't have the statistics for that question.</div>
        </div>
      </div>
    </div>
  </div>
   <!--<div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How many people use talent match?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>A lot.</strong> We don't have any proper statistics but have been able to help a lot of people. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Will I be guarenteed a Match?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>No.</strong> Since this all depends on avalibility of the position you are looking for.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Will my personal information be safe on this webiste?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Yes it will be. </strong>Your informating is hidden by default, until our servers take your information and create a profile page for you. But we are also progressing towards keeping any suspiscious malware off of our website and creating a safer enviornment for our users.
            </div>
          </div>
        </div>
      </div>
    <label for="question">If you have any questions please feel free to submit one or more in the given space below. We are always trying to improve our users experience!</label><br><br> 
    <input type="text" id="question" name="question"><br><br>  
    <button type="button" class="btn btn-outline-primary">Submit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </button>-->

    
    
   

</body>
</html>