<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
</head>
<body>
    <h1>Get Started</h1>
    <a href = "/register" class="btn btn-dark">Click Here to Register as a Student</a>
    <a href = "/orgRegister" class="btn btn-dark">Click Here to Register an Organization</a>
</body>
</html>