<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css"> 
       <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
<title>Home</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/home" style="font-size:25px; color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">Classifi <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
        </svg></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse "  id="navbarNav">
            <ul class="navbar-nav justify-content-center " style="padding-left: 260px;">
                <li class="nav-item" >
                  <a class="nav-link" href="/positions" style="color:white; font-size: 18px; margin-right: 50px;">Classes</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" style="color:white; font-size: 18px; margin-right: 50px;" href="/faq">FAQ</a>
                </li>
                <li class="nav-item" >
                    <a href="/about" class="nav-link" style="color:white; font-size: 18px; margin-right: 50px;">About Us</a>
                </li>
                <li class="nav-item dropdown" >
                  <a style="color:white; font-size: 18px; margin-right: 50px;"class="nav-link dropdown-toggle" href="/register" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Register
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/orgregister">Tutor Register</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/register">Student Register</a></li>
                  </ul>
                  </li>
                  </ul>
                  
                  </div>
 
      
        

        <a class="icon" href = "/profilePage"><div class = "d-flex"><svg class = "icon" width="32" height="32" fill = "white" viewbox= "0 0 16 16"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg></div></a> 
        <!-- <div class="d-flex">    
        <div class="dropdown">
            <a style="color:white; font-size: 18px; margin-right: 50px;"class="nav-link dropdown-toggle" href="/Login" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
               </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton" style="margin-right: 50px ;">
                <li><a class="dropdown-item" href="/login">Student Login</a></li>
                <li><a class="dropdown-item" href="/orgLogin">Organizations Login</a></li>
            </ul>
        </div> 
    </div> -->
</div>
</nav>
   
    <h1 class="intro">Welcome to <span class="volunteer">Class</span><span>ifi</span>.</h1>
    <h1 class="">Redifining Education <span class = "volunteer">Worldwide</span>.</h1>
    <p>Online learning: <span class = "reinvented">Reinvented</span>.</p>
    <p> 
        <button class="btn btn-info"> <a class="signup" href="/login">Log in</a></button>
    </p>

    
</body> 
</html>