<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/LoginHome.css">  
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script> 
    <title><%= user.name %></title>
    
</head>


 
      
        

    
<body>  
   <div class="mb-3"> <h1>Hello, <%= user.name %></h1></div>
 
   <div class="mb-3"><a href="/profilePage"><button class="ghost" id="signIn" >Go To Your Profile</button></a> </div>

    <div class="mb-3"><a href="/positions"><button class="ghost" id="signIn">Search All Classes</button></a></div>
    
  <div class="mb-3"> <a href="/profiles"><button class="ghost" id="signIn">Search Instructors</button></a></div>
</body> 
</html> 