<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %></title>

    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/LoginHome.css">  
</head>

<!--
<body>
    <h1>Hello, <%= user.username %></h1>
    <a href = "/orgProfilePage">Go to your profile</a>
    <a href = "/addPosition">Add a volunteer position</a>
    <a href = "/positions">See All Volunteer Positions</a>
    <a href = "/profiles">See All Profiles</a>
</body>
</html> 

-->

<body>  
    <div class="mb-3"> <h1>Hello, <%= user.name %></h1></div>
  
    <div class="mb-3"><a href="/orgprofilePage"><button class="ghost" id="signIn" >Go To Your Profile</button></a> </div>
 
     <div class="mb-3"><a href="/positions"><button class="ghost" id="signIn">Search Volunteer Positions</button></a></div>
     
   <div class="mb-3"> <a href="/positions"><button class="ghost" id="signIn">Search Organizations</button></a></div>
 </body> 