<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/temporary.css">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script> 
</head>
<body>
    <h1>Organizations:</h1>
    <% for(let profile of profiles) { %>
        <li> <a href = "/orgprofiles/<%=profile.id%>"><%= profile.name %></a> </li>
    <% } %>
        <h2></h2>
    <a href = "/orgprofiles/new">Add your Organization</a>
    <h2></h2>
    <a href = "/orgpositions">See all volunteer positions</a>
</body>
</html> 